* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

.banner {
    height: 75px;
    width: 100%;
    background-color: black;
    border-bottom: 6px rgb(0, 128, 187) solid;
    color: white;
}

.logo {
    height: 70px;
    width: 150px;
}

.banner h1 {
    font-size: 18px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.content {
    height: 1000px;
    padding-top: 50px;        
    padding-left: 70px;
    padding-right: 70px;
}

.starting h1 {
    font-size: 25px;
    padding-bottom: 20px;
    color: black;
}

.starting p {
    padding: 0 0 30px 0;
}

.tips h1 {
    color: rgb(49, 124, 255);
    padding: 20px 0 10px 0;
    font-size: 20px;
}

.tips p {
    padding: 10px 0 0 0;
}

.slowlearning {
    width: 150px;
    height: 100px;
}

.closeminded {
    width: 150px;
    height: 100px;
}

.Connection-with-others {
    width: 150px;
    height: 100px;

}

.creative {
    width: 150px;
    height: 100px;

}
