* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

.banner {
    height: 75px;
    width: 100%;
    background-color: black;
    border-bottom: 6px rgb(0, 128, 187) solid;
    color: white;
}

.logo {
    height: 70px;
    width: 150px;
}

.banner h1 {
    font-size: 18px;
}

.navbar {
    width: 85%;
    margin: auto;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar h1 {
    font-size: 30px;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
}

.content {
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
}

.introduction {
    margin: auto;
    background: rgb(234, 234, 234);
    border: 1px solid;
    padding: .65em;
    min-width: 50px;
    max-width: 600px;
    margin-bottom: 30px;
}

.introduction h1 {
    font-size: 25px;
    border-bottom: 1px solid;
}

.stupid-intro {
    padding-top: 20px;
}

.fucking-span {
    font-size: 25px;
}

.stupid-span {
    font-size: 20px;
}

.identification {
    margin-top: 100px;
}

.identification  h1 {
    padding: 0 0 20px 0;
    font-size: 25px;
}

.dk-img {
    height: 200px;
    width: 200px;
}

.manual {
    padding: 50px 0 0 0;
}

.manual h1 {
    padding: 0 0 20px 0;
    font-size: 25px;
}

.manual p {
    padding: 0 0 15px 0;
}

.bitinglip {
    height: 100px;
    width: 150px;
    padding: 0 0 15px 0;
}

footer {
    padding-top: 40px;
    text-align: center;
}

footer img {
    height: 50px;
    width: 80px;
}
