* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

}

.banner {
height: 75px;
width: 100%;
background-color: black;
border-bottom: 6px rgb(0, 255, 0) solid;
color: white;
}

.logo {
height: 70px;
width: 150px;
}

.banner h1 {
font-size: 18px;
}

.navbar {
width: 85%;
margin: auto;
padding-top: 5px;
display: flex;
align-items: center;
justify-content: space-between;
}

.navbar h1 {
font-size: 30px;
}

.navbar ul li {
list-style: none;
display: inline-block;
margin: 0 10px;
}

.navbar ul li a {
text-decoration: none;
color: white;
}

.content {
padding-top: 50px;
padding-left: 70px;
padding-right: 70px;
}

.introduction h1 {
font-size: 25px;
padding: 10px 0 10px 0;
}

.stupid-intro {
padding-top: 20px;
}

.fucking-span {
font-size: 25px;
}

.stupid-span {
font-size: 20px;
}

.dn {
    height: 250px;
    width: 250px;
    padding: 10px 0 50px 0;
}

.halt {
height: 200px;
width: 400px;
padding: 30px 0 30px 0;
}

footer p {
    padding: 100px 0 0 0;
    text-align: center;
}

.grouptest {
    height: 500px;
    width: 800px;
    padding: 30px 0 20px 0;
}

video {
    padding: 10px 0 20px 0;
}

.Ifyoumade {
    padding: 30px 0 20px 70px;
}

.filip {
    height: 300px;
    width: 500px;
    padding: 20px 0 0 0;
}
